<!DOCTYPE html>

{% extends 'boards/board/board.html' %} {% block content %}

<h1>Project Board - {{ board.title }}</h1>

<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <div class="form-group">
    <a href="{% url 'list_create' board.id %}">Create new list</a>
  </div>
</form>

<h3>Lists</h3>
{% for list in board.list_set.all %}
<p style="background-color: hsl(249, 34%, 53%); padding: 1rem; width: 50%;">
  <a href="{% url 'list_detail' list.id %}">{{ list.title }}</a>
</p>
{% endfor %}
<br />
<h3>Cards</h3>

{% for card in list.card_set.all %}
<p style="background-color: hsl(249, 34%, 53%); padding: 1rem; width: 50%;">
  <a href="{% url 'board_detail' card.id %}">- {{ card.description }}</a>
</p>
{% endfor %} {% endblock %}
