<!DOCTYPE html>
{% block content %}

<h1>Project Board - {{ board.title }}</h1>

<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <div class="form-group">
    <a href="{% url 'list_create' %}">Create new list</a>
  </div>
</form>

<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button>Add a new list</button>
</form>
{% for list in board.userboardlist_set.all %}
  <p style="background-color: hsl(249, 34%, 53%); padding: 1rem">
    <a href="{% url 'list_detail' list_create.id %}"
      >{{ list_create.list_title }}</a
    >
  </p>
{% endfor %}
{% endblock %}
