<!DOCTYPE html>
{% extends 'boards/board/board.html' %} {% block content %}
<h1>List - {{ list.title }}</h1>
<p style="background-color: hsl(249, 34%, 53%); padding: 1rem;">
  Board: {{ list.board }}<br />
  Title: {{ object.title }}
</p>

<form method="POST">
  {% csrf_token %}
  {{ card_create.as_p }}
  <div class="form-group">
    <a href="{% url 'card_create' list.id %}">Create new card</a>
  </div>
</form>
<br />
<h2>Cards</h2>
{% for card in list.card_set.all %}
<p style="background-color: hsl(249, 34%, 53%); padding: 1rem;">
  <a href="{% url 'board_detail' card.id %}">- {{ card.description }}</a>
</p>
{% endfor %} {% endblock %}
